body{
    background-color: #7bf3e7;
}

#bodyinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
}

#bodyinfo li{
    display: flex;
    width: fit-content;
    padding-right: 30px;
    background-color: #2bc7b7;
    margin-bottom: 15px;
    border-radius: 20px;
}

#bodyinfo li .dogInfo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#bodyinfo li .dogImage{
    height: 330px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bodyinfo li .dogImage img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

#bodyinfo li .dogInfo .dogDescription{
    background-color: #7bf3e7;
    border-radius: 20px;
    border: solid 2px #CCC;
    padding: 0 10px;
    flex-grow: 2;
    overflow-x: auto;
}

#bodyinfo li .dogInfo .dogContact{
    justify-content: flex-end;
}

